In [1]:
import numpy as np
import pandas as pd

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import IPython.display as ipd
# import librosa.display
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import pandas as pd

In [2]:
data = pd.read_csv("./diabetic_data.csv")
data.replace('?',np.nan,inplace=True)
data

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),NaN,1,3,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
101762,443847782,74694222,AfricanAmerican,Female,[80-90),NaN,1,4,5,5,...,No,Steady,No,No,No,No,No,No,Yes,NO
101763,443854148,41088789,Caucasian,Male,[70-80),NaN,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
101764,443857166,31693671,Caucasian,Female,[80-90),NaN,2,3,7,10,...,No,Up,No,No,No,No,No,Ch,Yes,NO
101765,443867222,175429310,Caucasian,Male,[70-80),NaN,1,1,7,6,...,No,No,No,No,No,No,No,No,No,NO

In [3]:
#Adding a new column "output label" which is 1 if readmitted
# data["output_label"]=(data.readmitted!='NO').astype('int')
data["output_label"]=(data["readmitted"].astype('str')).apply(lambda x: 0 if x == "NO" else (1 if x == "<30" else 2))
data

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted,output_label
0,2278392,8222157,Caucasian,Female,[0-10),NaN,6,25,1,1,...,No,No,No,No,No,No,No,No,NO,0
1,149190,55629189,Caucasian,Female,[10-20),NaN,1,1,7,3,...,Up,No,No,No,No,No,Ch,Yes,>30,2
2,64410,86047875,AfricanAmerican,Female,[20-30),NaN,1,1,7,2,...,No,No,No,No,No,No,No,Yes,NO,0
3,500364,82442376,Caucasian,Male,[30-40),NaN,1,1,7,2,...,Up,No,No,No,No,No,Ch,Yes,NO,0
4,16680,42519267,Caucasian,Male,[40-50),NaN,1,1,7,1,...,Steady,No,No,No,No,No,Ch,Yes,NO,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,443847548,100162476,AfricanAmerican,Male,[70-80),NaN,1,3,7,3,...,Down,No,No,No,No,No,Ch,Yes,>30,2
101762,443847782,74694222,AfricanAmerican,Female,[80-90),NaN,1,4,5,5,...,Steady,No,No,No,No,No,No,Yes,NO,0
101763,443854148,41088789,Caucasian,Male,[70-80),NaN,1,1,7,1,...,Down,No,No,No,No,No,Ch,Yes,NO,0
101764,443857166,31693671,Caucasian,Female,[80-90),NaN,2,3,7,10,...,Up,No,No,No,No,No,Ch,Yes,NO,0
101765,443867222,175429310,Caucasian,Male,[70-80),NaN,1,1,7,6,...,No,No,No,No,No,No,No,No,NO,0

In [4]:
numerical_cols=['time_in_hospital','num_lab_procedures','num_procedures',
                'num_medications','number_outpatient','number_emergency',
                'number_inpatient','number_diagnoses']
categorical_cols=[
        "gender",
        "age",
        "admission_type_id",
        "discharge_disposition_id",
        "admission_source_id",
        "medical_specialty",
        "number_outpatient",
        "number_emergency",
        "number_inpatient",
        "diag_1",
        "diag_2",
        "diag_3",
        "max_glu_serum",
        "A1Cresult",
        "metformin",
        "repaglinide",
        "nateglinide",
        "chlorpropamide",
        "glimepiride",
        "acetohexamide",
        "glipizide",
        "glyburide",
        "tolbutamide",
        "pioglitazone",
        "rosiglitazone",
        "acarbose",
        "miglitol",
        "troglitazone",
        "tolazamide",
        "examide",
        "citoglipton",
        "insulin",
        "glyburide-metformin",
        "glipizide-metformin",
        "metformin-rosiglitazone",
        "metformin-pioglitazone",
        "change",
        "diabetesMed"]

In [5]:
data[numerical_cols].isnull().sum() #shows that it has no missing value

time_in_hospital      0
num_lab_procedures    0
num_procedures        0
num_medications       0
number_outpatient     0
number_emergency      0
number_inpatient      0
number_diagnoses      0
dtype: int64

In [6]:
data['race'].isnull().sum()#has null values

2273

In [7]:
data['race']=data['race'].fillna('UNK')
data['payer_code']=data['payer_code'].fillna('UNK')
data['medical_specialty']=data['medical_specialty'].fillna('UNK')

In [8]:
data.groupby('medical_specialty').size().sort_values(ascending= False) #Shows that many unknown values exist

medical_specialty
UNK                                 49949
InternalMedicine                    14635
Emergency/Trauma                     7565
Family/GeneralPractice               7440
Cardiology                           5352
                                    ...
Psychiatry-Addictive                    1
Dermatology                             1
Speech                                  1
SportsMedicine                          1
Surgery-PlasticwithinHeadandNeck        1
Length: 73, dtype: int64

In [9]:
selected_items=['UNK','InternalMedicine','Emergency/Trauma',
                'Family/GeneralPractice','Cardiology','Surgery-General',
               'Nephrology','Orthopedics','Orthopedics-Reconstructive',
               'Radiologist']
data['new_medical_specialty']=data['medical_specialty'].copy()
data.loc[~data.new_medical_specialty.isin(selected_items),'new_medical_specialty']='Other'

In [10]:
data.groupby('new_medical_specialty').size()

new_medical_specialty
Cardiology                     5352
Emergency/Trauma               7565
Family/GeneralPractice         7440
InternalMedicine              14635
Nephrology                     1613
Orthopedics                    1400
Orthopedics-Reconstructive     1233
Other                          8340
Radiologist                    1140
Surgery-General                3099
UNK                           49949
dtype: int64

In [11]:
numerical_categorical_col=['admission_source_id','discharge_disposition_id','admission_type_id']
data[numerical_categorical_col]=data[numerical_categorical_col].astype('str')

In [12]:
categorical_dataframe=pd.get_dummies(data[categorical_cols+numerical_categorical_col+['new_medical_specialty']], drop_first=True)
categorical_dataframe.head()

,number_outpatient,number_emergency,number_inpatient,gender_Male,gender_Unknown/Invalid,age_[10-20),age_[20-30),age_[30-40),age_[40-50),age_[50-60),...,new_medical_specialty_Emergency/Trauma,new_medical_specialty_Family/GeneralPractice,new_medical_specialty_InternalMedicine,new_medical_specialty_Nephrology,new_medical_specialty_Orthopedics,new_medical_specialty_Orthopedics-Reconstructive,new_medical_specialty_Other,new_medical_specialty_Radiologist,new_medical_specialty_Surgery-General,new_medical_specialty_UNK
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,2,0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1

In [13]:
data=pd.concat([data,categorical_dataframe],axis=1)

In [14]:
list_of_cols_in_categorical_df=list(categorical_dataframe.columns)

In [15]:
replace_age_dict={'[0-10)':0,'[10-20)':10,'[20-30)':20,
                  '[30-40)':30,'[40-50)':40,'[50-60)':50,'[60-70)':60,
                  '[70-80)':70,'[80-90)':80,'[90-100)':90}
data['age_group']=data.age.replace(replace_age_dict)

In [16]:
data['haswt']=data.weight.notnull().astype('int')

In [17]:
list_of_extracols=['age_group','haswt']

In [18]:
final_cols=numerical_cols+list_of_cols_in_categorical_df+list_of_extracols
final_dataframe=data[final_cols]

In [19]:
y=data['output_label']
print(final_dataframe.columns,y,sep="\n")

Index(['time_in_hospital', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_outpatient',
       'number_emergency', 'number_emergency', 'number_inpatient',
       'number_inpatient',
       ...
       'new_medical_specialty_InternalMedicine',
       'new_medical_specialty_Nephrology', 'new_medical_specialty_Orthopedics',
       'new_medical_specialty_Orthopedics-Reconstructive',
       'new_medical_specialty_Other', 'new_medical_specialty_Radiologist',
       'new_medical_specialty_Surgery-General', 'new_medical_specialty_UNK',
       'age_group', 'haswt'],
      dtype='object', length=2609)
0         0
1         2
2         0
3         0
4         0
         ..
101761    2
101762    0
101763    0
101764    0
101765    0
Name: output_label, Length: 101766, dtype: int64

In [21]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline,make_pipeline
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
X_train, X_test, y_train, y_test = train_test_split(final_dataframe,y)
models=[RandomForestClassifier()]#,DecisionTreeClassifier(),LogisticRegression(),GradientBoostingClassifier()]
for model in models:
    print(model)
    model.fit(X_train,y_train)
    predictions=model.predict(X_test)
    print(model.score(X_test,y_test))
    print(metrics.confusion_matrix(y_test, predictions))

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators='warn',
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning:

The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.

0.5593506799779892
[[10938   196  2612]
 [ 1684   180   943]
 [ 5463   313  3113]]

In [ ]:
#INTERPRETABILITY - SHAP and LIME
import shap
import lime

explainerRF = shap.TreeExplainer(model[0]) #trying just for random forest
shap_values_RF_test = explainerRF.shap_values(X_test)
shap_values_RF_train = explainerRF.shap_values(X_train)
df_shap_RF_test = pd.DataFrame(shap_values_RF_test, columns=X_test.columns.values)
df_shap_RF_train = pd.DataFrame(shap_values_RF_train, columns=X_train.columns.values)
shap.initjs()
shap.force_plot(explainerRF.expected_value, shap_values_RF_test, X_test)